<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<ul>
		<% Twitter.our_public_tweet.each do |tweets| -%>
		<li><blockquote><%= tweets.text %></blockquote></li>
		<% end -%>
	</ul>
	
</body>
</html>